{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Required meta tags -->
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap CSS -->
	<link id="u-theme-google-font" rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />
	<link id="u-page-google-font" rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700,800,900" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'Home/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'Home/header.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
	<link rel="icon" type="image/png" href="{% static 'Home/images/logo.png' %}" />
	<link rel="stylesheet" href="{% static 'Home/main.css' %}" />
</head>

<body style="background-color: rgb(255, 255, 255)">
	{% block nav-sidebar %}
	{% include "Home/navbar.html" %}
	{% endblock %}
	<div class="container">
		{% if messages %} {% for message in messages %}
		<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endfor %} {% endif %}
		<!--
        {% block gallery %}
        {% endblock gallery %}
        --->
		{% block content %} {% endblock content %}
	</div>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>

	<!-- cards -->
	<div class="hidden md:block">
		<div class="pb-20 h-96 blocka"
			style="
					background-image: url(https://raw.githubusercontent.com/xqbptt/SWC-Gymkhana-Portal/django/Home/static/Home/teamsbg.png)">
			<div class=" text-xl sm:text-2xl sm:ml-8 md:text-4xl md:ml-32 font-semibold text-white pt-8 md:pt-28">
				Team Structure
			</div>
			<div class="sm:ml-10 md:ml-36 pt-4">
				<button id="sa,wellbeing,personality,acf"
					class="bg-black text-white px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Students' Affairs Functionaries</button><button id="visitart"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Board Functionaries</button><button id="sgym"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Students' Gymkhana</button><button id="saf"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Students' Affairs Staff</button><button id="gymkhana"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Gymkhana Office</button><button id="counselling"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Counselling Cell</button><button id="newsac"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					New SAC Building</button><button id="hostels"
					class="bg-white text-black px-4 h-9 rounded-lg text-xs md:text-sm m-1.5 focus:outline-none">
					Hostels
				</button>
			</div>
		</div>
	</div>


	<div class="md:relative md:-top-20 lg:-top-32">
		<div class="md:flex md:flex-wrap justify-center">
			<div id="612c90f0b00d46714ad4c576" class="fixed z-50 inset-0 overflow-y-auto hidden"
				aria-labelledby="modal-title" role="dialog" aria-modal="true" style="z-index: 5000">
				<div class="flex justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
					<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
					<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
						​
					</span>
					<div
						class="inline-block align-bottom md:align-middle bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all mb-2 w-full sm:w-9/12 md:w-3/4 lg:w-1/2">
						<div class="hidden md:block">
							<div class="flex justify-center space-x-5 m-7">
								<div class="overflow-hidden text-black rounded-md w-1/2" style="height: 450px">
									<div class="bg-gray-200 rounded-md">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/612c90f0b00d46714ad4c576"
											alt="ProfilePic" class="w-full object-contain" style="height: 300px" />
									</div>
									<div class="ml-3.5 text-2xl font-semibold mt-4">
										Prof. V.V. Dasu
									</div>
									<div class="ml-3.5 text-lg mt-2 mb-2">
										Dean of Students’ Affairs
									</div>
									<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="flex justify-between mx-3.5 my-2">
										<div class="text-sm">dos@iitg.ac.in</div>
										<div class="text-sm">+91-361-258 2083</div>
									</div>
								</div>
								<div class="w-1/2 hidden md:block overflow-hidden mx-4 text-sm">
									<div class="flex justify-end mb-2 text-sm">
										<button>
											<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
													fill="#1E2532"></path>
											</svg>
										</button>
									</div>
									.
								</div>
							</div>
						</div>
						<div class="flex-column bg-white block md:hidden w-auto px-2">
							<div class="flex justify-end mt-2 mr-2">
								<button>
									<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
											fill="#1E2532"></path>
									</svg>
								</button>
							</div>
							<div class="flex justify-center">
								<div class="mt-4 rounded-md" style="width: 320px">
									<div class="bg-gray-200 flex justify-center">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/612c90f0b00d46714ad4c576"
											alt="ProfilePic" class="h-64 w-auto object-contain rounded-sm" />
									</div>
									<div class="h-16">
										<div class="text-2xl pt-1">Prof. V.V. Dasu</div>
										<div class="text-lg pt-1">Dean of Students’ Affairs</div>
									</div>
									<svg class="w-full mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="h-20">
										<div class="text-lg pt-1">dos@iitg.ac.in</div>
										<div class="text-lg pt-1">+91-+91-361-258 2083</div>
									</div>
								</div>
							</div>
							<div class="flex justify-center mt-2 text-sm text-center">
								.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="md:w-1/2 lg:w-1/4 hidden md:block overflow-hidden bg-blue-600 rounded-md mb-24 mx-4 cursor-pointer"
				style="height: 450px">
				<div class="bg-gray-200 rounded-md">
					<img src="https://intranet.iitg.ac.in/sa/api/team/sa/612c90f0b00d46714ad4c576" alt="ProfilePic"
						class="w-full object-contain" style="height: 300px" />
				</div>
				<div class="ml-3.5 text-2xl text-white font-semibold mt-4">
					Prof. V.V. Dasu
				</div>
				<div class="ml-3.5 text-lg text-white mt-2 mb-2">
					Dean of Students’ Affairs
				</div>
				<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
				</svg>
				<div class="flex justify-between mx-3.5 my-2">
					<div class="text-sm text-white">dos@iitg.ac.in</div>
					<div class="text-sm text-white">+91-361-258 2083</div>
				</div>
			</div>
			<div class="block md:hidden flex justify-center">
				<div class="bg-blue-600 mt-8 rounded-md cursor-pointer" style="width: 320px">
					<div class="bg-gray-200 flex justify-center">
						<img src="https://intranet.iitg.ac.in/sa/api/team/sa/612c90f0b00d46714ad4c576" alt="ProfilePic"
							class="h-64 w-auto object-contain rounded-sm" />
					</div>
					<div class="h-16">
						<div class="text-white text-2xl ml-4 pt-1">Prof. V.V. Dasu</div>
						<div class="text-white text-lg ml-4 pt-1">
							Dean of Students’ Affairs
						</div>
					</div>
					<svg class="w-full px-4 mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
					</svg>
					<div class="h-20">
						<div class="text-white text-lg ml-4 pt-1">dos@iitg.ac.in</div>
						<div class="text-white text-lg ml-4 pt-1">
							+91-+91-361-258 2083
						</div>
					</div>
				</div>
			</div>
			<div id="60f01665c146ef0840a54acf" class="fixed z-50 inset-0 overflow-y-auto hidden"
				aria-labelledby="modal-title" role="dialog" aria-modal="true" style="z-index: 5000">
				<div class="flex justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
					<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
					<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
						​
					</span>
					<div
						class="inline-block align-bottom md:align-middle bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all mb-2 w-full sm:w-9/12 md:w-3/4 lg:w-1/2">
						<div class="hidden md:block">
							<div class="flex justify-center space-x-5 m-7">
								<div class="overflow-hidden text-black rounded-md w-1/2" style="height: 450px">
									<div class="bg-gray-200 rounded-md">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f01665c146ef0840a54acf"
											alt="ProfilePic" class="w-full object-contain" style="height: 300px" />
									</div>
									<div class="ml-3.5 text-2xl font-semibold mt-4">
										Prof. Amaresh Dalal
									</div>
									<div class="ml-3.5 text-lg mt-2 mb-2">
										Associate Dean of Students' Affairs
									</div>
									<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="flex justify-between mx-3.5 my-2">
										<div class="text-sm">adosa_1@iitg.ac.in</div>
										<div class="text-sm">+91 361 258 2929</div>
									</div>
								</div>
								<div class="w-1/2 hidden md:block overflow-hidden mx-4 text-sm">
									<div class="flex justify-end mb-2 text-sm">
										<button>
											<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
													fill="#1E2532"></path>
											</svg>
										</button>
									</div>
									.
								</div>
							</div>
						</div>
						<div class="flex-column bg-white block md:hidden w-auto px-2">
							<div class="flex justify-end mt-2 mr-2">
								<button>
									<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
											fill="#1E2532"></path>
									</svg>
								</button>
							</div>
							<div class="flex justify-center">
								<div class="mt-4 rounded-md" style="width: 320px">
									<div class="bg-gray-200 flex justify-center">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f01665c146ef0840a54acf"
											alt="ProfilePic" class="h-64 w-auto object-contain rounded-sm" />
									</div>
									<div class="h-16">
										<div class="text-2xl pt-1">Prof. Amaresh Dalal</div>
										<div class="text-lg pt-1">
											Associate Dean of Students' Affairs
										</div>
									</div>
									<svg class="w-full mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="h-20">
										<div class="text-lg pt-1">adosa_1@iitg.ac.in</div>
										<div class="text-lg pt-1">+91-+91 361 258 2929</div>
									</div>
								</div>
							</div>
							<div class="flex justify-center mt-2 text-sm text-center">
								.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="md:w-1/2 lg:w-1/4 hidden md:block overflow-hidden bg-blue-600 rounded-md mb-24 mx-4 cursor-pointer"
				style="height: 450px">
				<div class="bg-gray-200 rounded-md">
					<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f01665c146ef0840a54acf" alt="ProfilePic"
						class="w-full object-contain" style="height: 300px" />
				</div>
				<div class="ml-3.5 text-2xl text-white font-semibold mt-4">
					Prof. Amaresh Dalal
				</div>
				<div class="ml-3.5 text-lg text-white mt-2 mb-2">
					Associate Dean of Students' Affairs
				</div>
				<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
				</svg>
				<div class="flex justify-between mx-3.5 my-2">
					<div class="text-sm text-white">adosa_1@iitg.ac.in</div>
					<div class="text-sm text-white">+91 361 258 2929</div>
				</div>
			</div>
			<div class="block md:hidden flex justify-center">
				<div class="bg-blue-600 mt-8 rounded-md cursor-pointer" style="width: 320px">
					<div class="bg-gray-200 flex justify-center">
						<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f01665c146ef0840a54acf" alt="ProfilePic"
							class="h-64 w-auto object-contain rounded-sm" />
					</div>
					<div class="h-16">
						<div class="text-white text-2xl ml-4 pt-1">
							Prof. Amaresh Dalal
						</div>
						<div class="text-white text-lg ml-4 pt-1">
							Associate Dean of Students' Affairs
						</div>
					</div>
					<svg class="w-full px-4 mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
					</svg>
					<div class="h-20">
						<div class="text-white text-lg ml-4 pt-1">adosa_1@iitg.ac.in</div>
						<div class="text-white text-lg ml-4 pt-1">
							+91-+91 361 258 2929
						</div>
					</div>
				</div>
			</div>
			<div id="60f0175cc146ef0840a54ad0" class="fixed z-50 inset-0 overflow-y-auto hidden"
				aria-labelledby="modal-title" role="dialog" aria-modal="true" style="z-index: 5000">
				<div class="flex justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
					<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
					<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
						​
					</span>
					<div
						class="inline-block align-bottom md:align-middle bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all mb-2 w-full sm:w-9/12 md:w-3/4 lg:w-1/2">
						<div class="hidden md:block">
							<div class="flex justify-center space-x-5 m-7">
								<div class="overflow-hidden text-black rounded-md w-1/2" style="height: 450px">
									<div class="bg-gray-200 rounded-md">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f0175cc146ef0840a54ad0"
											alt="ProfilePic" class="w-full object-contain" style="height: 300px" />
									</div>
									<div class="ml-3.5 text-2xl font-semibold mt-4">
										Prof. Anamika Barua
									</div>
									<div class="ml-3.5 text-lg mt-2 mb-2">
										Associate Dean of Students' Affairs
									</div>
									<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="flex justify-between mx-3.5 my-2">
										<div class="text-sm">adosa_2@iitg.ac.in</div>
										<div class="text-sm">+91 361 258 2928</div>
									</div>
								</div>
								<div class="w-1/2 hidden md:block overflow-hidden mx-4 text-sm">
									<div class="flex justify-end mb-2 text-sm">
										<button>
											<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
													fill="#1E2532"></path>
											</svg>
										</button>
									</div>
									.
								</div>
							</div>
						</div>
						<div class="flex-column bg-white block md:hidden w-auto px-2">
							<div class="flex justify-end mt-2 mr-2">
								<button>
									<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M9.072 0H22.944C28.368 0 32 3.808 32 9.472V22.5456C32 28.1936 28.368 32 22.944 32H9.072C3.648 32 0 28.1936 0 22.5456V9.472C0 3.808 3.648 0 9.072 0ZM20.8166 20.8005C21.3606 20.2581 21.3606 19.3781 20.8166 18.8341L17.9686 15.9861L20.8166 13.1365C21.3606 12.5941 21.3606 11.6981 20.8166 11.1541C20.2726 10.6085 19.3926 10.6085 18.8326 11.1541L16.0006 14.0005L13.1526 11.1541C12.5926 10.6085 11.7126 10.6085 11.1686 11.1541C10.6246 11.6981 10.6246 12.5941 11.1686 13.1365L14.0166 15.9861L11.1686 18.8181C10.6246 19.3781 10.6246 20.2581 11.1686 20.8005C11.4406 21.0725 11.8086 21.2181 12.1606 21.2181C12.5286 21.2181 12.8806 21.0725 13.1526 20.8005L16.0006 17.9701L18.8486 20.8005C19.1206 21.0901 19.4726 21.2181 19.8246 21.2181C20.1926 21.2181 20.5446 21.0725 20.8166 20.8005Z"
											fill="#1E2532"></path>
									</svg>
								</button>
							</div>
							<div class="flex justify-center">
								<div class="mt-4 rounded-md" style="width: 320px">
									<div class="bg-gray-200 flex justify-center">
										<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f0175cc146ef0840a54ad0"
											alt="ProfilePic" class="h-64 w-auto object-contain rounded-sm" />
									</div>
									<div class="h-16">
										<div class="text-2xl pt-1">Prof. Anamika Barua</div>
										<div class="text-lg pt-1">
											Associate Dean of Students' Affairs
										</div>
									</div>
									<svg class="w-full mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="black"
											stroke-linecap="round"></line>
									</svg>
									<div class="h-20">
										<div class="text-lg pt-1">adosa_2@iitg.ac.in</div>
										<div class="text-lg pt-1">+91-+91 361 258 2928</div>
									</div>
								</div>
							</div>
							<div class="flex justify-center mt-2 text-sm text-center">
								.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="md:w-1/2 lg:w-1/4 hidden md:block overflow-hidden bg-blue-600 rounded-md mb-24 mx-4 cursor-pointer"
				style="height: 450px">
				<div class="bg-gray-200 rounded-md">
					<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f0175cc146ef0840a54ad0" alt="ProfilePic"
						class="w-full object-contain" style="height: 300px" />
				</div>
				<div class="ml-3.5 text-2xl text-white font-semibold mt-4">
					Prof. Anamika Barua
				</div>
				<div class="ml-3.5 text-lg text-white mt-2 mb-2">
					Associate Dean of Students' Affairs
				</div>
				<svg class="w-full" width="200" height="1" viewBox="0 0 420 1" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<line x1="0.5" y1="0.5" x2="419.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
				</svg>
				<div class="flex justify-between mx-3.5 my-2">
					<div class="text-sm text-white">adosa_2@iitg.ac.in</div>
					<div class="text-sm text-white">+91 361 258 2928</div>
				</div>
			</div>
			<div class="block md:hidden flex justify-center">
				<div class="bg-blue-600 mt-8 rounded-md cursor-pointer" style="width: 320px">
					<div class="bg-gray-200 flex justify-center">
						<img src="https://intranet.iitg.ac.in/sa/api/team/sa/60f0175cc146ef0840a54ad0" alt="ProfilePic"
							class="h-64 w-auto object-contain rounded-sm" />
					</div>
					<div class="h-16">
						<div class="text-white text-2xl ml-4 pt-1">
							Prof. Anamika Barua
						</div>
						<div class="text-white text-lg ml-4 pt-1">
							Associate Dean of Students' Affairs
						</div>
					</div>
					<svg class="w-full px-4 mt-3" width="360" height="1" viewBox="0 0 360 1" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<line x1="0.5" y1="0.5" x2="359.5" y2="0.500031" stroke="white" stroke-linecap="round"></line>
					</svg>
					<div class="h-20">
						<div class="text-white text-lg ml-4 pt-1">adosa_2@iitg.ac.in</div>
						<div class="text-white text-lg ml-4 pt-1">
							+91-+91 361 258 2928
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Site footer -->
	<footer class="body-font" style="background-color: rgb(30, 37, 50)">
		<div class="container px-10 sm:px-12 pt-8 pb-3 sm:py-10 mx-auto flex items-center sm:flex-row flex-col">
			<a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
				href="/sa"><img src="{% static 'Home/swc_logo.svg' %}" alt="swc-logo" width="32px" height="32px"
					class="mr-3 transform scale-90" /><span class="text-xl text-white">Gymkhana Council IIT
					Guwahati</span></a>
			<p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-400 sm:py-2 sm:mt-0 mt-4">
				© 2021 SWC —<a href="https://www.facebook.com/sgciitg/" class="text-gray-600 ml-1"
					rel="noopener noreferrer" target="_blank">@swciitg</a>
			</p>
			<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"><a
					href="https://www.facebook.com/swciitg/" target="_blank" class="text-gray-500"><svg
						fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						class="w-5 h-5" viewBox="0 0 24 24">
						<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
					</svg></a><a class="ml-3 text-gray-500" href="https://in.linkedin.com/in/swc-iitg"
					target="_blank"><svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
						<path stroke="none"
							d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
						</path>
						<circle cx="4" cy="4" r="2" stroke="none"></circle>
					</svg></a></span>
		</div>
	</footer>
</body>

</html>