{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700,800,900">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Home/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Home/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'Home/images/logo.png' %}">

    <style>
        @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
        @import url(https://fonts.googleapis.com/css?family=Pacifico);

        .container3 .dropdown-menu3 .dropdown3,
        .container3 .dropdown-menu3 .dropdown3:before,
        .container3 .dropdown-menu3 .dropdown3:after {
            -webkit-border-sizing: border-box;
            -moz-border-sizing: border-box;
            position: absolute;
        }

        .container3 {
            width: 175px;
            margin-top: 40px;
        }

        .container3>ul {
            list-style: none;
            padding: 0;
        }

        .dropdown3 {
            position: relative;
            font-size: 14px;
            width: 115px;
        }

        .dropdown-menu3 {
            width: 115px;
        }

        .dropdown3 a {
            text-decoration: none;
        }

        .dropdown3 [data-toggle="dropdown"] {
            display: block;
            color: #2c2c2c;
            font-size: 14px;
            background: #ffffff;
            padding: 4px 4px 4px 8px;
            border: 1px solid #2c2c2c;
            border-radius: 5px;
            font-weight: 500;
        }

        .dropdown3 [data-toggle="dropdown"]:hover a {
            background-color: #2c2c2c;
            font: white;
        }

        .dropdown3 [data-toggle="dropdown"]:hover {
            background: #414040;
            color: white;
        }

        :hover {
            color: var(--hover-color);
        }

        .dropdown3 [data-toggle="dropdown"]:before {
            position: absolute;
            display: block;
            content: "\25BC";
            font-size: 0.7em;
            color: #2c2c2c;
            top: 8px;
            right: 10px;
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -moz-transition: -moz-transform 0.6s;
            -o-transition: -o-transform 0.6s;
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
        }

        .dropdown3>.dropdown-menu3 {
            max-height: 0;
            overflow: hidden;
            list-style: none;
            position: absolute;
            padding: 0;
            margin: 0;
            -moz-transform: scaleY(0);
            -ms-transform: scaleY(0);
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -moz-transition: max-height 0.6s ease-out;
            -o-transition: max-height 0.6s ease-out;
            -webkit-transition: max-height 0.6s ease-out;
            transition: max-height 0.6s ease-out;
            animation: hideAnimation 0.4s ease-out;
            -moz-animation: hideAnimation 0.4s ease-out;
            -webkit-animation: hideAnimation 0.4s ease-out;

        }

        .dropdown3>.dropdown-menu3 li {
            padding: 0;
        }

        .dropdown3>.dropdown-menu3 li a {
            display: block;
            color: #000000;
            background: #eee;
            text-align: center;
            padding: 10px 10px;
        }

        .dropdown3>.dropdown-menu3 li a:hover {
            background: #f6f6f6;
        }

        .dropdown3>input[type="checkbox"] {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .dropdown3>input[type="checkbox"]:checked~.dropdown-menu3 {
            max-height: 9999px;
            display: block;
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            animation: showAnimation 0.5s ease-in-out;
            -moz-animation: showAnimation 0.5s ease-in-out;
            -webkit-animation: showAnimation 0.5s ease-in-out;
            -moz-transition: max-height 2s ease-in-out;
            -o-transition: max-height 2s ease-in-out;
            -webkit-transition: max-height 2s ease-in-out;
            transition: max-height 2s ease-in-out;

        }

        .dropdown3>input[type="checkbox"]:checked+a[data-toggle="dropdown"]:before {
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            -moz-transition: -moz-transform 0.6s;
            -o-transition: -o-transform 0.6s;
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
        }

        @keyframes showAnimation {
            0% {
                -moz-transform: scaleY(0.1);
                -ms-transform: scaleY(0.1);
                -webkit-transform: scaleY(0.1);
                transform: scaleY(0.1);
            }

            40% {
                -moz-transform: scaleY(1.04);
                -ms-transform: scaleY(1.04);
                -webkit-transform: scaleY(1.04);
                transform: scaleY(1.04);
            }

            60% {
                -moz-transform: scaleY(0.98);
                -ms-transform: scaleY(0.98);
                -webkit-transform: scaleY(0.98);
                transform: scaleY(0.98);
            }

            80% {
                -moz-transform: scaleY(1.04);
                -ms-transform: scaleY(1.04);
                -webkit-transform: scaleY(1.04);
                transform: scaleY(1.04);
            }

            100% {
                -moz-transform: scaleY(0.98);
                -ms-transform: scaleY(0.98);
                -webkit-transform: scaleY(0.98);
                transform: scaleY(0.98);
            }

            80% {
                -moz-transform: scaleY(1.02);
                -ms-transform: scaleY(1.02);
                -webkit-transform: scaleY(1.02);
                transform: scaleY(1.02);
            }

            100% {
                -moz-transform: scaleY(1);
                -ms-transform: scaleY(1);
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }
        }

        @keyframes hideAnimation {
            0% {
                -moz-transform: scaleY(1);
                -ms-transform: scaleY(1);
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }

            60% {
                -moz-transform: scaleY(0.98);
                -ms-transform: scaleY(0.98);
                -webkit-transform: scaleY(0.98);
                transform: scaleY(0.98);
            }

            80% {
                -moz-transform: scaleY(1.02);
                -ms-transform: scaleY(1.02);
                -webkit-transform: scaleY(1.02);
                transform: scaleY(1.02);
            }

            100% {
                -moz-transform: scaleY(0);
                -ms-transform: scaleY(0);
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
            }
        }

        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

        .at-section__title4 {
            margin: 0 0 50px;
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c;
            font-size: 2rem;
            text-align: center;
            pointer-events: initial;
            width: 601px;
            padding-bottom: 40px;
            font-weight: 700;
            margin: 30px auto 0;
            box-sizing: border-box;
        }

        .at-grid4 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: #FFF;
            border: 1px solid #E2E9ED;

        }

        .at-grid4[data-column="1"] .at-column4 {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            flex-basis: 100%;
        }

        .at-grid4[data-column="2"] .at-column4 {
            width: 100%;
            height: 100%;
            max-width: 100%;
            min-width: 100%;
            flex-basis: 100%;
            padding: 10px;
            margin: 10px;
        }

        .at-grid4[data-column="3"] .at-column4 {
            width: 31.8%;
        }

        .at-column4 {
            position: relative;
            background: #FFF;
            box-shadow: 0 0 0 1px #E2E9ED;
            padding: 40px;
            margin: 10px;
            transition: box-shadow 0.2s ease, transform 0.2s ease;
        }

        .at-column4:before {
            content: "";
            display: block;
            padding-top: 85%;
            padding-bottom: 35%;
        }

        .at-column4:hover {
            z-index: 1;
            box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }

        .at-column4:hover .at-social4 {
            margin: 16px 0 0;
            opacity: 1;
        }

        @media (max-width: 1000px) {
            .at-column4 {
                width: 50% !important;
                max-width: 50% !important;
                min-width: 50% !important;
                flex-basis: 50% !important;
            }
        }

        @media (max-width: 600px) {
            .at-column4 {
                width: 100% !important;
                max-width: 100% !important;
                min-width: 100% !important;
                flex-basis: 100% !important;
            }
        }

        .at-user4 {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translate(0, -50%);
            text-align: center;
        }

        .at-user__avatar4 {
            width: 280px;
            height: 280px;
            border-radius: 100%;
            margin: 0 auto 20px;
            background-color: #2c2c2c;
            overflow: hidden;
        }

        .at-user__avatar4 img {
            display: block;
            width: 100%;
            max-width: 100%;
        }

        .at-user__name4 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c !important;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
        }

        .at-user__title4 {
            font-family: 'Open Sans', sans-serif;
            color: #ff6961 !important;
            padding-top: 3px;
            font-size: 1.05rem;
            line-height: 1.6;
            font-weight: 700;
        }

        .at-social4 {
            margin: 0 0 -18px;
            opacity: 0;
            transition: margin 0.2s ease, opacity 0.2s ease;
        }

        .at-social__item4 {
            display: inline-block;
            margin: 0 15px;
        }

        .at-social__item4 a {
            display: block;
        }

        .at-social__item4 svg {
            fill: #515F65;
            display: block;
            height: 22px;
            transition: fill 0.2s ease;
        }

        .at-social__item4 svg:hover {
            fill: #788D96;
        }

        body {
            background: rgb(255, 255, 255);
            f: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .container4 {
            max-width: 1385px;
            width: 120%;
            padding: 0 0px;
            box-sizing: border-box;
            transform-origin: top center;
            transform: scale(0.8);
            height: 1300px;

        }

        .u-font-oswald4.u-custom-font4 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c;
            pointer-events: initial;
            text-align: center;
            font-size: 2.48rem;
            width: 601px;
            font-weight: 525;
            margin: 30px auto 0;
            box-sizing: border-box;
        }

        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

        .grid0 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 260px;
        }

        .hr {
            padding-left: 400px;
            opacity: 0.5;

        }

        .column0 {
            position: relative;
            padding: 0px 25px;
        }

        .user0::after {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            content: "";
            clear: both;
            display: table;
            box-sizing: border-box;
        }

        .image0 {
            width: 220px;
            margin: 0 auto 20%;
            overflow: hidden;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        .image0 img {
            display: block;
            width: 100%;
        }

        .container0 {
            padding: 20px 0px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        .block0 {
            text-align: center;
            background-color: #ffffff;
            margin-bottom: 20px;
        }

        .name0 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c !important;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
        }

        .title0 {
            font-family: 'Open Sans', sans-serif;
            color: #ff6961 !important;
            padding-top: 3px;
            font-size: 0.82rem;
            line-height: 1.6;
            font-weight: 700;
        }

        .contact {
            font-family: 'Times New Roman', Times, serif;
            color: #2c2c2c;
            opacity: 90%;
            padding-top: 2px;
            font-weight: 600;
        }

        .image0:hover {
            opacity: 50%;
        }

        .flip3D>.front {
            width: 220px;
            height: 256px;


            transform: perspective(60em) rotateY(0deg);
            backface-visibility: hidden;
            transition: transform .5s linear 0s;
        }

        .flip3D>.back {
            width: 220px;
            height: 256px;

            transform: perspective(60em) rotateY(180deg);
            backface-visibility: hidden;
            transition: transform .5s linear 0s;
        }

        .flip3D:hover>.front {
            transform: perspective(60em) rotateY(-180deg);
        }

        .flip3D:hover>.back {
            transform: perspective(60em) rotateY(0deg);
        }

        .site-footer {
            background-color: #26272b;
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
        }

        .site-footer hr {
            border-top-color: #bbb;
            opacity: 0.5
        }

        .site-footer hr.small {
            margin: 20px 0
        }

        .site-footer h6 {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 2px
        }

        .site-footer a {
            color: #737373;
        }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

        .footer-links {
            padding-left: 0;
            list-style: none
        }

        .footer-links li {
            display: block
        }

        .footer-links a {
            color: #737373
        }

        .footer-links a:active,
        .footer-links a:focus,
        .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

        .footer-links.inline li {
            display: inline-block
        }

        .site-footer .social-icons {
            text-align: right
        }

        .site-footer .social-icons a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 6px;
            margin-right: 0;
            border-radius: 100%;
            background-color: #33353d
        }

        .copyright-text {
            margin: 0
        }

        @media (max-width:991px) {
            .site-footer [class^=col-] {
                margin-bottom: 30px
            }
        }

        @media (max-width:767px) {
            .site-footer {
                padding-bottom: 0
            }

            .site-footer .copyright-text,
            .site-footer .social-icons {
                text-align: center
            }
        }

        .social-icons {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }

        .social-icons li {
            display: inline-block;
            margin-bottom: 4px
        }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

        .social-icons a {
            background-color: #eceeef;
            color: #818a91;
            font-size: 16px;
            display: inline-block;
            line-height: 44px;
            width: 44px;
            height: 44px;
            text-align: center;
            margin-right: 8px;
            border-radius: 100%;
            -webkit-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear
        }

        .social-icons a:active,
        .social-icons a:focus,
        .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

        .social-icons.size-sm a {
            line-height: 34px;
            height: 34px;
            width: 34px;
            font-size: 14px
        }

        .social-icons a.facebook:hover {
            background-color: #3b5998
        }

        .social-icons a.twitter:hover {
            background-color: #00aced
        }

        .social-icons a.linkedin:hover {
            background-color: #007bb6
        }

        .social-icons a.dribbble:hover {
            background-color: #ea4c89
        }

        @media (max-width:767px) {
            .social-icons li.title {
                display: block;
                margin-right: 0;
                font-weight: 600
            }
        }


        .Hotbg {
            position: absolute;
            box-sizing: unset;
            top: 8.3%;
            left: 94%;
            transform: translate(-100%, +50%);
            background: #2f3640;
            height: 25px;
            border-radius: 40px;
            padding: 5px;
        }

        .Hotbg:hover {
            background-color: rgb(204, 203, 203);
            color: #2c2c2c;
        }

        .Hotbg:hover>.Hotbg-txt {
            width: 150px;
            padding-left: 13px;
            justify-content: center;
        }

        .Hotbg:hover>.Hotbg-btn {
            background: azure;
            color: #2c2c2c;

        }

        .Hotbg-btn {
            color: #e84118;
            float: right;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background: #2c2c2c;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            color: #ffffff;
            cursor: pointer;
        }

        .Hotbg-btn>i {
            font-size-adjust: 30px;
        }

        a {
            text-decoration: none;
        }

        .Hotbg-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: #ffffff;
            font-size: 15px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
            font-weight: 430;
        }
    </style>
</head>

<body style="background-color: rgb(255, 255, 255);">
    <div class="header">
        <div
            style="display: flex; justify-content: center; align-items: center; background-color: #2c2c2c; padding-top: 10px; padding-bottom: 10px;">
            <img src="{% static 'Home/images/IITGlogo.png' %}" alt="logo"
                style="width: 40px; height: 40px; display: flex;">
            <div style="color: white; padding-top: 10px; padding-left: 12px;">
                <h6>INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI</h6>
            </div>
        </div>
        <nav>
            <div class="Gymkhana">
                <a class="navbar-brand" href="{% url 'gymkhana-home' %}"><img src="{% static 'Home/images/logo.png' %}"
                        alt="logo" width="40px" height="40px"></a>
            </div>
            <div class="logo" style="font-weight: 600; color: #fff; padding-right: 95px;">
                GYMKHANA COUNCIL
            </div>
            <div class="nav-items">
                <li><a href="{% url 'gymkhana-home' %}" style="padding-right: 15px;"> HOME</a></li>
                <li><a href="{% url 'gymkhana-senate' %}" style="padding-right: 15px;">SENATE</a></li>
                <li><a href="https://www.iitg.ac.in/stud/gymkhana/technical/index.html"
                        style="padding-right: 15px;">TECHNICAL</a></li>
                <li><a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/culthome.html"
                        style="padding-right: 15px;">CULTURAL</a></li>
                <li><a href="https://www.iitg.ac.in/stud/gymkhana/sports/sportsboard.html"
                        style="padding-right: 15px;">SPORTS</a></li>
                <li><a href="https://www.iitg.ac.in/stud/gymkhana/welfareBoard/welfareboard.html"
                        style="padding-right: 15px;">WELFARE</a></li>
                <li><a href="https://www.iitg.ac.in/stud/gymkhana/hostelBoard/hab.html"
                        style="padding-right: 15px;">HAB</a></li>
            </div>
        </nav>
    </div>

    <div class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}
        <!--
        {% block gallery %}
        {% endblock gallery %}
        --->
        {% block content %} {% endblock content %}
    </div>



    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>



    <!-- <footer class="footer" style="background-color:#2c2c2c; color: white;">
        <div class="container">
            <div class="row"><br><br><br>
                <div class="col-md-4" style="text-align:center;">
                    <p class="foot2"><br>
                        <img src="{% static 'Home/images/logo.png' %}" alt="Gymkhana logo"
                            style="height: 50px; width: 50px; margin-right: 25px;">
                        <i class="bi bi-geo-alt-fill"></i>
                        Students' Gymkhana Council,<br>
                        New SAC Building<br>
                        IIT Guwahati, Guwahati (Assam) - 781039<br>
                        <br>
                        <br>
                    </p>
                </div>
                <div class="col-md-4" style="text-align:center;">
                    <p class="foot2" style="margin-top:-1px;">
                        <br>
                        <a href="https://twitter.com/IITGuwahati/" target="_blank"><i
                                class="bi bi-twitter"></i></a>&nbsp;
                        <a href="https://www.facebook.com/swciitg/" target="_blank"><i
                                class="bi bi-facebook"></i></a>&nbsp;
                        <a href="https://www.instagram.com/iitgwt/" target="_blank"><i
                                class="bi bi-instagram"></i></a>&nbsp;
                        <a href="https://www.youtube.com/IITGuwahatiOfficial/" target="_blank"><i
                                class="bi bi-youtube"></i></a>&nbsp;
                        <a href="https://www.linkedin.com/company/student-s-web-committee-iitg/" target="_blank"><i
                                class="bi bi-linkedin"></i></a><br>
                        <br>
                        <span><i class="bi bi-telephone"></i></span>+91-361-2582162<br>
                        <span><i class="bi bi-envelope"></i></span><a
                            href="mailto: sgciitg@gmail.com">sgciitg@gmail.com</a><br><br>
                        </a><br>
                    </p>
                </div>
                <div class="col-md-4" style="text-align:center;">
                    <p class="foot2">
                        <br>
                        &copy; Students' Gymkhana Council, IIT Guwahati<br><a style="color:#ff6e6e"
                            href="sgc/sgc1.html">
                            Maintained by SWC, IIT Guwahati</a>
                        </a><br>
                        <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i
                                class="icon-twitter"></i><span></span></a>
                        <a href="http://facebook.com" class="icon-button facebook"><i
                                class="icon-facebook"></i><span></i></span></a>
                        <a href="http://instagram.com" class="icon-button instagram"><i
                                class="icon-instagram"></i><span></span></a>
                        <a href="http://linkedin.com" class="icon-button linkedin"><i
                                class="icon-linkedin"></i><span></span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div style="display: flex; padding-left: 145px;">
                        <div><img src="{% static 'Home/images/logo.png' %}" alt="Gymkhana logo"
                                style="height:40px; width: 40px; margin-right: 12px; "></div>
                        <div style="padding-top: 5px;">
                            <h6>STUDENTS' GYMKHANA COUNCIL</h6>
                        </div>
                    </div>
                    <i class="bi bi-geo-alt-fill" style="color: rgb(207, 205, 205)"></i>
                    Students' Gymkhana Council,<br>
                    New SAC Building<br>
                    IIT Guwahati, Guwahati (Assam) - 781039<br>
                    <br>
                    <br>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>QUICK LINKS</h6>
                    <ul class="footer-links">
                        <li><a href="https://www.iitg.ac.in/" style="color: rgb(207, 205, 205)">IITG</a></li>
                        <li><a href="https://www.iitg.ac.in/stud/gymkhana/" style="color: rgb(207, 205, 205)">SWC</a>
                        </li>
                        <li><a href="#" style="color: rgb(207, 205, 205)"> Senate Login</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>CONTACT</h6>
                    <ul class="footer-links" style="color: rgb(207, 205, 205);">
                        <li><i class="bi bi-telephone"></i></span>+91-361-2582162<br></li>
                        <li><i class="bi bi-envelope" style="padding-right: 10px;"></i></span><a
                                href=" mailto:swc@iitg.ac.in" style="color: rgb(207, 205, 205)">
                                swc@iitg.ac.in</a><br><br>
                            </a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12" style="text-align: left;">
                    <p class="copyright-text">Copyright &copy;
                        <a href="#">Students' Gymkhana Council, IIT Guwahati</a><br><a style=" color: #ff6e6e;"
                            href="sgc/sgc1.html">
                            Maintained by SWC, IIT Guwahati</a>
                        </a>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/swciitg/"><i
                                    class="bi bi-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/IITGuwahati/"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li><a class="instagram" href="https://www.instagram.com/iitgwt/"><i
                                    class="bi bi-instagram"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/student-s-web-committee-iitg/"><i
                                    class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>