{% extends "Home/base.html" %}
{% load static %}
{% block content %} 

<title>Gymkhana-Cultural</title>
<h1 style="margin-bottom: 300px;">Cultural Page!</h1>

<div class="container-fluid">
    <div class="media">
        <img class="rounded-circle account-img " src="{% static 'Home/default.png' %}" alt="pic"> 
        <div class="media-body">
            <p class="text-primary"><br>
                {{ details.name }}<br>
                <br>
                {{ details.chairman }},<br>
                {{ details.event }}<br>
                <br>
                Clubs: {{ details.club }}<br>
            </p>
        </div>
    </div>
</div>

</div>

{% endblock content %}