{% extends "Home/base.html" %}
{% load static %}
{% block content %}
<iframe src="{% url 'gymkhana-gallery' %}" frameborder="0" style="height: 500px; width: 100%;"></iframe>

<div style="color: #2c2c2c; padding-left: 30px;padding-top: 100px;padding-right: 300px;">
   <h4 style=" font-size: 25px;">Welcome to the Students' Gymkhana
    Council,<br> IIT Guwahati</h4>
    <p style="padding-right: 70px; padding-top: 40px;padding-bottom: 40px;">{{about.text}}
    </p>
    <aside>
        <h3>Meeting Minutes</h3>
        <ul>
        {% for minute in minutes%}
            <li><a href="senate/media/{{minute.pdf}}">{{ minute.title }}</a></li>
        {% endfor %}
        </ul>
    </aside>
</div>

{% endblock content %}