{% extends "Home/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Senators Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/style.css?ver=2.7.3'>
    <link rel='stylesheet'
        href='https://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.3'>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700,800,900">

    <style>
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

        .at-section__title4 {
            margin: 0 0 50px;
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c;
            font-size: 2rem;
            text-align: center;
            pointer-events: initial;
            width: 601px;
            padding-bottom: 40px;
            font-weight: 700;
            margin: 30px auto 0;
            box-sizing: border-box;
        }

        .at-grid4 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: #FFF;
            border: 1px solid #E2E9ED;

        }

        .at-grid4[data-column="1"] .at-column4 {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            flex-basis: 100%;
        }

        .at-grid4[data-column="2"] .at-column4 {
            width: 100%;
            height: 100%;
            max-width: 100%;
            min-width: 100%;
            flex-basis: 100%;
            padding: 10px;
            margin: 10px;
        }

        .at-grid4[data-column="3"] .at-column4 {
            width: 31.7%;
        }

        .at-column4 {
            position: relative;
            background: #FFF;
            box-shadow: 0 0 0 1px #E2E9ED;
            padding: 40px;
            margin: 10px;
            transition: box-shadow 0.2s ease, transform 0.2s ease;
        }

        .at-column4:before {
            content: "";
            display: block;
            padding-top: 85%;
            padding-bottom: 35%;
        }

        .at-column4:hover {
            z-index: 1;
            box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }

        .at-column4:hover .at-social4 {
            margin: 16px 0 0;
            opacity: 1;
        }

        @media (max-width: 1000px) {
            .at-column4 {
                width: 50% !important;
                max-width: 50% !important;
                min-width: 50% !important;
                flex-basis: 50% !important;
            }
        }

        @media (max-width: 600px) {
            .at-column4 {
                width: 100% !important;
                max-width: 100% !important;
                min-width: 100% !important;
                flex-basis: 100% !important;
            }
        }

        .at-user4 {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translate(0, -50%);
            text-align: center;
        }

        .at-user__avatar4 {
            width: 280px;
            height: 280px;
            border-radius: 100%;
            margin: 0 auto 20px;
            background-color: #2c2c2c;
            overflow: hidden;
        }

        .at-user__avatar4 img {
            display: block;
            width: 100%;
            max-width: 100%;
        }

        .at-user__name4 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c !important;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
        }

        .at-user__title4 {
            font-family: 'Open Sans', sans-serif;
            color: #ff6961 !important;
            padding-top: 3px;
            font-size: 1.05rem;
            line-height: 1.6;
            font-weight: 700;
        }

        .at-social4 {
            margin: 0 0 -18px;
            opacity: 0;
            transition: margin 0.2s ease, opacity 0.2s ease;
        }

        .at-social__item4 {
            display: inline-block;
            margin: 0 10px;
        }

        .at-social__item4 a {
            display: block;
        }

        .at-social__item4 svg {
            fill: #515F65;
            display: block;
            height: 22px;
            transition: fill 0.2s ease;
        }

        .at-social__item4 svg:hover {
            fill: #788D96;
        }

        body {
            background: rgb(255, 255, 255);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .container4 {
            max-width: 1385px;
            width: 120%;
            padding: 0 0px;
            box-sizing: border-box;
            transform-origin: top center;
            transform: scale(0.8);
        }

        .u-font-oswald4.u-custom-font4 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c;
            pointer-events: initial;
            text-align: center;
            font-size: 2.48rem;
            width: 601px;
            font-weight: 525;
            margin: 30px auto 0;
            box-sizing: border-box;
        }

        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);



        .grid0 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 220px;
        }

        .column0 {
            position: relative;
            padding: 0px 25px;
        }

        .user0::after {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            content: "";
            clear: both;
            display: table;
            box-sizing: border-box;
        }

        .image0 {
            width: 220px;
            margin: 0 auto 20%;
            overflow: hidden;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        .image0 img {
            display: block;
            width: 100%;
        }

        .container0 {
            padding: 20px 0px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        .block0 {
            text-align: center;
            background-color: #ffffff;
            margin-bottom: 20px;
        }

        .name0 {
            font-family: Oswald, sans-serif !important;
            color: #2c2c2c !important;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
        }

        .title0 {
            font-family: 'Open Sans', sans-serif;
            color: #ff6961 !important;
            padding-top: 3px;
            font-size: 0.82rem;
            line-height: 1.6;
            font-weight: 700;
        }

        .image0:hover {
            opacity: 50%;
        }
    </style>
</head>
<!-- partial:index.partial.html -->
<!-- partial -->
<h1 class="u-custom-font4 u-font-oswald4" style="padding-bottom: 20px;">Faculty Executive Body</h1>

<div class="container0" style="background-color: #ffffff">
    <div class="grid0">
        <div class="column0">
            <div class="user0">
                <div class="image0">
                    <img src="{% static 'Home/images/dosa1.jpeg' %}" alt="" style="width: 220px" />
                </div>
                <div class="block0">
                    <div class="name0">Prof Amaresh Dalal</div>
                    <div class="title0">Associate Dean 1,<br />Students’ Affairs</div>
                </div>
            </div>
        </div>
        <div class="column0">
            <div class="user0">
                <div class="image0">
                    <img src="{% static 'Home/images/dean.jpeg' %}" alt="" style="width: 220px" />
                </div>
                <div class="block0">
                    <div class="name0">Prof V.V. Dasu</div>
                    <div class="title0">
                        Dean, Students' Affairs<br />President, Students' Gymkhana<br />Council
                    </div>
                </div>
            </div>
        </div>
        <div class="column0">
            <div class="user0">
                <div class="image0">
                    <img src="{% static 'Home/images/dosa2.jpeg' %}" alt="" style="width: 220px" />
                </div>
                <div class="block0">
                    <div class="name0">Prof Anamika Barua</div>
                    <div class="title0">Associate Dean 2,<br />Students’ Affairs</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->

<hr style="width: 1200px;  padding-left: 100px; color: #2c2c2c; opacity:50%;">
<h1 class="u-custom-font4 u-font-oswald4" style="padding-top: 20px; padding-bottom: 40px;">Student Executive Body</h1>

<div class="container4">

    <div class="at-grid4" data-column="3">
        {% for members in reps.all %}
        <div class="at-column4">
            <div class="at-user4">
                <div class="at-user__avatar4"><a href="https://wa.me/{{ members.mobile }}" target="blank"><img
                            src="media/{{members.image }}" /></a>
                </div>
                <div class="at-user__name4">{{ members.name }}</div>
                <div class="at-user__title4">{{ members.position }}<br>
                    {{ members.board }}</div>
                <ul class=" at-social4">
                    <li class="at-social__item4"><a href="{{ members.facebook}}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="mailto: {{ members.email}}">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="{{members.linked_in}}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- partial -->
{% endblock %}