{% extends "Home/base.html" %}
{% load static%}
{% block content %}

<!-- partial:index.partial.html -->
<!-- partial -->
<div style="display: flex;">
    <h1 class="u-custom-font4 u-font-oswald4" style="padding-bottom: 20px; padding-left: 200px; ">
        Faculty Executive Body
    </h1>
    <div class="container3">
        <ul>
            <li class="dropdown3">
                <input type="checkbox" />
                <a href="#" data-toggle="dropdown" style="--hover-color: green">Minutes</a>
                <ul class="dropdown-menu3">
                    {% for m in mins.all %}
                    <li><a href="media/{{ m.pdf }}"
                            target="_blank">{{ m.title }}</a></li>       
                    {% endfor %}        
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container0" style="background-color: #ffffff">
    <div class="grid0">
        <div class="column0">
            <div class="user0" style="padding-right: 40px;">
                <div class="flip3D">
                    <div class="front" style="position: absolute;">
                        <img class="image0" src="{% static 'Home/images/dosa1.jpeg' %}" alt="Italian Trulli">
                    </div>
                    <div class="back" style="position: absolute;background-color: #2c2c2c; text-align: center;">
                        <h6
                            style="position: center; padding-top: 120px; position: absolute; font-size: 15px;padding-left:27px;text-align: center;color: #f7f7f7;">
                            +91-361-258
                            2929(O)<br>
                            adosa_1@iitg.ac.in</h6>
                    </div>
                </div>
                <div class="block0">
                    <div class="name0" style="padding-top: 267px;padding-left: 30px;">Prof Amaresh Dalal</div>
                    <div class="title0" style="padding-left: 15px;" style="width: 220px;">Associate Dean 1,<br />Student
                        Affairs</div>
                </div>
            </div>
        </div>
        <div class="column0">
            <div class="user0" style="padding-right: 30px;">
                <div class="flip3D">
                    <div class="front" style="position: absolute;">
                        <img class="image0" src="{% static 'Home/images/dean.jpeg' %}" alt="Italian Trulli">
                    </div>
                    <div class="back" style="position: absolute;background-color:#2c2c2c; text-align: center;">
                        <h6
                            style="position: center; padding-top: 120px; position: absolute; font-size: 15px;padding-left:27px;color: white;">
                            +91-361-258 2083(O)<br>
                            dosa@iitg.ac.in</h6>
                    </div>
                </div>
                <div class="block0">
                    <div class="name0" style="padding-top: 267px;">Prof. V.V. Dasu</div>
                    <div class="title0" style="width: 220px;">Dean of Students-Affairs , <br>President of
                        Students,Gymkhana Council</div>
                </div>
            </div>
        </div>
        <div class="column0">
            <div class="user0" style="padding-right: 30px;">
                <div class="flip3D">
                    <div class="front" style="position: absolute;">
                        <img class="image0" src="{% static 'Home/images/dosa2.jpeg' %}" alt="Italian Trulli">
                    </div>
                    <div class="back" style="position: absolute; background-color :#2c2c2c ; text-align: center;">
                        <h6
                            style="position: center; padding-top: 120px; position: absolute; font-size: 15px;padding-left:27px; color: white;">
                            +91-361-258 2928(O)<br>
                            adosa_2@iitg.ac.in</h6>
                    </div>
                </div>
                <div class="block0">
                    <div class="name0" style="padding-top: 267px;padding-left: 27px;">Prof. Anamika Barua</div>
                    <div class="title0" style="padding-left: 15px;" style="width: 220px;">Associate Dean 2,<br />Student
                        Affairs</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- partial -->
<hr style=" width: 1200px; color: #2c2c2c; opacity:20%; margin-left: 50px; margin-right: 50px;">
<h1 class="u-custom-font4 u-font-oswald4" style="padding-top: 20px; padding-bottom: 40px;">
    Student Executive Body</h1>

<div class="container4">

    <div class="at-grid4" data-column="3">
        {% for members in reps.all %}
        <div class="at-column4">
            <div class="at-user4">
                <div class="at-user__avatar4"><a href="https://wa.me/{{ members.mobile }}" target="blank"><img
                            src="media/{{members.image }}" /></a>
                </div>
                <div class="at-user__name4">{{ members.name }}</div>
                <div class="at-user__title4">{{ members.position }}<br>
                    {{ members.board }}</div>
                <ul class=" at-social4">
                    <li class="at-social__item4"><a href="{{ members.facebook}}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="mailto: {{ members.email}}">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="{{members.linked_in}}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Undergraduate Senators -->
<h1 class="u-custom-font4 u-font-oswald4" style="padding-top: 20px; padding-bottom: 40px;">
    Undergraduate Senators</h1>

<div class="container4">

    <div class="at-grid4" data-column="3">
        {% for members in ugs.all %}
        <div class="at-column4">
            <div class="at-user4">
                <div class="at-user__avatar4"><a href="https://wa.me/{{members.mobile}}" target="blank"><img
                            src="media/{{ members.image }}"
                            style="width:7cm; padding-left: 50px;" /></a></div>
                <div class="at-user__name4">{{members.name}}</div>
                <div class="at-user__title4">{{members.address}}</div>
                <div class="contact">{{members.mobile}}<br>{{members.email}}</div>
                <ul class=" at-social4">
                    <li class="at-social__item4"><a href="{{ members.facebook }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="mailto: {{ members.email }}">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="{{ members.linked_in }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Girl Senators-->
<h1 class="u-custom-font4 u-font-oswald4" style="padding-top: 20px; padding-bottom: 40px;">
    Female Senators</h1>

<div class="container4" style="height: 450px;">

    <div class="at-grid4" data-column="3">
        {% for members in girls.all %}
        <div class="at-column4">
            <div class="at-user4">
                <div class="at-user__avatar4"><a href="https://wa.me/{{members.mobile}}" target="blank"><img
                            src="media/{{ members.image }}"
                            style="width:7cm; padding-left: 50px;" /></a></div>
                <div class="at-user__name4">{{members.name}}</div>
                <div class="at-user__title4">{{members.address}}</div>
                <div class="contact">{{members.mobile}}<br>{{members.email}}</div>
                <ul class=" at-social4">
                    <li class="at-social__item4"><a href="{{ members.facebook }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="mailto: {{ members.email }}">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="{{ members.linked_in }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Postgraduate Senators -->
<h1 class="u-custom-font4 u-font-oswald4" style="padding-top: 20px; padding-bottom: 40px;">
    Postgraduate Senators</h1>

<div class="container4">

    <div class="at-grid4" data-column="3">
        {% for members in pgs.all %}
        <div class="at-column4">
            <div class="at-user4">
                <div class="at-user__avatar4"><a href="https://wa.me/{{members.mobile}}" target="blank"><img
                            src="media/{{ members.image }}"
                            style="width:7cm; padding-left: 50px;" /></a></div>
                <div class="at-user__name4">{{members.name}}</div>
                <div class="at-user__title4">{{members.address}}</div>
                <div class="contact">{{members.mobile}}<br>{{members.email}}</div>
                <ul class=" at-social4">
                    <li class="at-social__item4"><a href="{{ members.facebook }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 9h3l-.375 3H14v9h-3.89v-9H8V9h2.11V6.984c0-1.312.327-2.304.984-2.976C11.75 3.336 12.844 3 14.375 3H17v3h-1.594c-.594 0-.976.094-1.148.281-.172.188-.258.5-.258.938V9z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="mailto: {{ members.email }}">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.781,14.347h1.738c0.24,0,0.436-0.194,0.436-0.435v-1.739c0-0.239-0.195-0.435-0.436-0.435h-1.738c-0.239,0-0.435,0.195-0.435,0.435v1.739C14.347,14.152,14.542,14.347,14.781,14.347 M18.693,3.045H1.307c-0.48,0-0.869,0.39-0.869,0.869v12.17c0,0.479,0.389,0.869,0.869,0.869h17.387c0.479,0,0.869-0.39,0.869-0.869V3.915C19.562,3.435,19.173,3.045,18.693,3.045 M18.693,16.085H1.307V9.13h17.387V16.085z M18.693,5.653H1.307V3.915h17.387V5.653zM3.48,12.608h7.824c0.24,0,0.435-0.195,0.435-0.436c0-0.239-0.194-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.195-0.435,0.435C3.045,12.413,3.24,12.608,3.48,12.608 M3.48,14.347h6.085c0.24,0,0.435-0.194,0.435-0.435s-0.195-0.435-0.435-0.435H3.48c-0.24,0-0.435,0.194-0.435,0.435S3.24,14.347,3.48,14.347"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                    <li class="at-social__item4"><a href="{{ members.linked_in }}" target="blank">
                            <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.547 3c.406 0 .75.133 1.031.398.281.266.422.602.422 1.008v15.047c0 .406-.14.766-.422 1.078a1.335 1.335 0 0 1-1.031.469h-15c-.406 0-.766-.156-1.078-.469C3.156 20.22 3 19.86 3 19.453V4.406c0-.406.148-.742.445-1.008C3.742 3.133 4.11 3 4.547 3h15zM8.578 18V9.984H6V18h2.578zM7.36 8.766c.407 0 .743-.133 1.008-.399a1.31 1.31 0 0 0 .399-.96c0-.407-.125-.743-.375-1.009C8.14 6.133 7.813 6 7.406 6c-.406 0-.742.133-1.008.398C6.133 6.664 6 7 6 7.406c0 .375.125.696.375.961.25.266.578.399.984.399zM18 18v-4.688c0-1.156-.273-2.03-.82-2.624-.547-.594-1.258-.891-2.133-.891-.938 0-1.719.437-2.344 1.312V9.984h-2.578V18h2.578v-4.547c0-.312.031-.531.094-.656.25-.625.687-.938 1.312-.938.875 0 1.313.578 1.313 1.735V18H18z"
                                    fill-rule="evenodd"></path>
                            </svg></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- partial -->
{% endblock content %}