.content {
    position: absolute;
    margin-top: 80px;
    z-index: 5;
    overflow: auto;
    height: 380px;
    width: 80%;
    left: 30px;
    background: #0b0f0a;
    opacity: 0.95;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .content .infoDiv {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    width: 330px;
  }
  .content .infoDiv .name {
    width: auto;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.0322em;
    color: #ffffff;
  }
  .content .infoDiv .description {
    font-family: Red Hat Display;
    font-style: normal;
    letter-spacing: 0.62px;
    color: #ffffff;
  }
  .content .externalLinksDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    width: 330px;
  }
  .content .externalLinksDiv .title {
    display: flex;
    flex-direction: row;
    width: auto;
    cursor: pointer;
  }
  .content .externalLinksDiv .title .caption {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.0322em;
    color: #ffffff;
  }
  .content .externalLinksDiv .title .arrowIcon {
    padding-top: 5px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
  }
  .content .externalLinksDiv .description {
    margin-top: 8px;
    position: relative;
    width: auto;
    max-width: 330px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0075em;
    color: #ffffff;
  }
  .content .imageDiv {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    width: 250px;
  }
  .content .imageDiv .image {
    height: 240px;
    width: 234px;
    border-radius: 2px;
    object-fit: contain;
  }
  .content .imageDiv .name {
    margin-top: 24px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.1538em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .content .imageDiv .description {
    margin-top: 8px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.1188em;
    text-transform: uppercase;
    color: #ffffff;
  }
  