@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
	margin: 0;
	padding: 0;
	outline: none;
	letter-spacing: 1px;
}
body {
	background: #ffffff;
}
nav {
	background: #2c2c2c;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 0 30px;
}
nav .Gymkhana {
	padding-left: 27px;
	margin-left: 27px;
	padding: 0px;
	margin: 0px;
	background-color: transparent !important;
}
nav .logo {
	padding-left: 0px;
	font-size: 17px;
	letter-spacing: 2px;
}
nav .nav-items {
	display: flex;
	flex: 1;
	padding: 0 0 0 40px;
}
nav .nav-items li {
	list-style: none;
	padding: 0 15px;
}
nav .nav-items li a {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}
nav .nav-items li a:hover {
	color: #9b928e;
	transition: all 0.5s ease-in-out;
}
nav form {
	display: flex;
	height: 40px;
	padding: 2px;
	background: #2c2c2c;
	min-width: 18% !important;
	border-radius: 2px;
	border: 1px solid rgba(155, 155, 155, 0.2);
}
@media (max-width: 1245px) {
	nav {
		padding: 0 50px;
	}
}
@media (max-width: 1140px) {
	nav {
		padding: 0px;
	}
	nav .logo {
		flex: 2;
		text-align: center;
	}
	nav .nav-items {
		position: fixed;
		z-index: 99;
		top: 70px;
		width: 100%;
		left: -100%;
		height: 100%;
		padding: 10px 50px 0 50px;
		text-align: center;
		background: #2c2c2c;
		display: inline-block;
		transition: left 0.3s ease;
	}
	nav .nav-items.active {
		left: 0px;
	}
	nav .nav-items li {
		line-height: 40px;
		margin: 30px 0;
	}
	nav .nav-items li a {
		font-size: 20px;
	}
}
.content .logos {
	background-color: #2c2c2c;
}
